<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReguisTRO</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>
<body class="text-center p-5">

    <h1 class="fw-bold">Registro</h1>

    <form action="{{ url_for('registrar') }}" method="post">

        <div class="mb-3 text-start">
            <label for="nombre" class="form-label">
                <h4 class="fw-bold">Nombre</h4>
            </label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Tu nombre" required>
        </div>

        <div class="mb-3 text-start">
            <label for="email" class="form-label">
                <h4 class="fw-bold">Email</h4>
            </label>
            <input type="email" class="form-control" id="email" name="email" placeholder="EMAIL" required>
        </div>

        <div class="mb-3 text-start">
            <label for="password" class="form-label">
                <h4 class="fw-bold">Contraseña</h4>
            </label>
            <input type="password" class="form-control" id="password" name="password" placeholder="(CONTRASEÑA)">
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">
                <h3 class="fw-bold mb-0">Registrar</h3>
            </button>
        </div>

        <a href="{{ url_for('index') }}" class="btn btn-link mt-2 d-block">
            <h5 class="fw-bold mb-0">¿Ya tienes cuenta?</h5>
        </a>

    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>


